* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body {
    height: 100%;
}

header {
    display:flex;
    padding: 20px 2%;
    justify-content: space-between;
    background-color: #73b4ff;
}

.logo h3{
    cursor: pointer;
}

.logo h3:hover {
    opacity: 0.8;
}

.icons-header {
    cursor: pointer;
}

.icons-header:hover {
    opacity: 0.8;
}


.info-header {
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0 10px;
    width: 200px;
}

.info-header img {
    width: 40px;
    height:40px;
    
}

.icons-header {
    margin-left: 10px;
    align-items: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sidebar {
    width: 15%;
    background-color: white;
    height: 100%;
}

.sidebar a.sidebar-active {
    background-color: rgb(240, 240, 240);
    color: #555;
    font-weight: bold;
    border-left:#73b4ff solid 4px;
}

.sidebar a:hover {
    background-color: rgb(240, 240, 240);
    color: #555;
    font-weight: bold;
    border-left:#73b4ff solid 4px;
} 


.sidebar h3 {
    color: #333;
    font-size: 20px;
    margin: 10px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #444;
}
 
.sidebar a > svg {
    color: #444;
}

.content {
    width: 85%;
    background-color: rgb(245, 245,245);
    padding: 20px;
}

.titulo-secao {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.titulo-secao h2 {
    color: #333;
    font-size: 20px;
}   

.titulo-secao p {
    font-size: 14px;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: rgb(230, 230, 230)
}

.box-info {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.box-info-single {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    color: white;
    margin: 0 10px;
    padding: 30px;
}

.box-info-single p {
    font-size: 28px;
}

.feed {
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.feed-single {
    display: block;
    justify-content: space-between;
    margin: 10px 0;
}

.feed-text span {
    color: black;

}


.feed-time {
    color: #444;
    margin-top: 10px;
    width: 100%;
    padding: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #73b4ff;
    color: white;
}

th {
    padding: 20px;
    text-align: left;
}

tbody {
    background-color: #f2f2f2;
}

td {
    padding: 15px;
    font-size: 14px;
    color: #333;
}

tfoot {
    background-color: #73b4ff;
    font-weight: bold;
    color: white;
}

tfoot td {
    padding: 15px;
    color: white;
}


button {
    border: none;
    border-radius: 10px;
    padding: 2px;
    cursor: pointer;
}

